
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    font-size: 20px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1200px;

    background-color: #333;
    padding: 0px;
    border-radius: 10px;
    z-index: 1000;
}
.nav {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.nav img {
    width: 60px;
    margin-right: 0;
}
.section {
    min-height: 100vh;
    padding: 120px 40px;
    color: #e5e7eb; 


    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("img/Fundo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home h1 {
    text-align: center;
    font-size: 3rem;
    
}
.home h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}
p {
    font-size: 20px;
    max-width: 800px;
}
li {
    list-style-type: none;
}
.styleabout {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.About {
    background-color: #151515;
    border-radius: 8px;
    border:1px solid #444;
    padding: 16px;
    transition: 0.3s;
}
.social-icons {
    
    text-align: left;
    margin-top: 20px;
}

.social-icons img {
    width: 100px;
    height: 60px;
    opacity: 0.8;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
}

.social-icons img:hover {
    opacity: 1;
    transform: scale(1.1);
}
footer {
    background-color: #333;

    color: white;
    padding: 20px;
    text-align: center;
}
.buttonProjects {
    background-color: #85dbc2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 1.2rem;
    transition: 0.3s;
    margin-top: 20px;

}
.buttonProjects:hover {
    background-color: #6ac4b3;
}
.projetos h2 {
    margin-bottom: 30px;
    margin: 250px 0 20px 0;
}
.projetos {
    min-height: 100vh;
    color: #e5e7eb;
}
.list-projects {
    font-size: 20px;
}
.about-section  {
    margin: 300px 0 20px 0;
    min-height: 100vh;
    color: #e5e7eb;
}
.about-section h2 {
    margin-bottom: 30px;
}
.Contacts {
    margin-top: 250px;
    min-height: 100vh;
    color: #e5e7eb;
}

@media (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    .navbar {
        max-width: 95%;
    }
    .section {
        padding: 100px 30px;
    }
    .home h1 {
        font-size: 2.5rem;
    }
    .home h2 {
        font-size: 1.8rem;
    }
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    .nav img {
        width: 50px;
    }
    .nav a {
        padding: 10px;
        font-size: 1.2rem;
    }
    .section {
        padding: 90px 20px;
    }
    .home h1 {
        font-size: 2rem;
    }
    .home h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 18px;
    }
    .social-icons {
        text-align: center;
    }
    .social-icons img {
        width: 70px;
        height: auto;
        padding: 10px;
    }
    .buttonProjects {
        width: 100%;
        max-width: 300px;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    .home h1 {
        font-size: 1.6rem;
    }
    .home h2 {
        font-size: 1.2rem;
    }
    .section {
        padding: 80px 15px;
    }
    .nav a {
        font-size: 1.1rem;
    }
}